<div class="row-layout cards">
  <igx-card type="outlined" class="card">
    <igx-card-media height="148px">
      <img src="/assets/theme-light.svg" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Card Title
      </h3>
      <h5 igxCardHeaderSubtitle>
        This is the card subtitle
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout custom-content">
        <img src="/assets/theme-light.svg" class="image_1" />
        <button igxButton="raised" igxRipple class="button">
          Button
        </button>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-media height="148px">
      <img src="/assets/theme-dark.svg" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Card Title
      </h3>
      <h5 igxCardHeaderSubtitle>
        This is the card subtitle
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout custom-content">
        <img src="/assets/theme-dark.svg" class="image_1" />
        <button igxButton="raised" igxRipple class="button">
          Button
        </button>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-media height="148px">
      <img src="/assets/design system.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Card Title
      </h3>
      <h5 igxCardHeaderSubtitle>
        This is the card subtitle
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout custom-content">
        <img src="/assets/design system.png" class="image_1" />
        <button igxButton="raised" igxRipple class="button">
          Button
        </button>
      </div>
    </igx-card-content>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card_1">
    <igx-card-media height="400px">
      <img src="/assets/Avatar2.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content"></igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
<div class="column-layout group">
  <h6 class="h6">
    Issue REPRODUCED IN: Blazor and Web Components generated apps with Material and Fluent Themes
  </h6>
  <div class="row-layout group_1">
    <p class="ig-typography__subtitle-1 text">
      The content placed inside the CARD SLOT looks like it's disabled. Some CSS class is applying a 0.6 opacity to the content of slots. I dont know if this affects other components with slots. 
    </p>
    <h6 class="h6">
      REPRODUCED IN: Blazor and WebComponents generated apps
    </h6>
    <igx-badge type="success" value="BUG CREATED" class="badge"></igx-badge>
  </div>
</div>
