<div class="column-layout group">
  <igx-buttongroup class="button-group">
    <button igxButton="flat" igxRipple>
      Button
    </button>
    <button igxButton="flat" igxRipple>
      Button
    </button>
    <button igxButton="flat" igxRipple>
      Button
    </button>
  </igx-buttongroup>
  <igx-buttongroup class="button-group">
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
      <p>Button</p>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
      <p>Button</p>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
      <p>Button</p>
    </button>
  </igx-buttongroup>
  <igx-buttongroup class="button-group">
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
    </button>
  </igx-buttongroup>
</div>
<div class="row-layout group">
  <igx-buttongroup alignment="vertical" class="button-group_1">
    <button igxButton="flat" igxRipple>
      Button
    </button>
    <button igxButton="flat" igxRipple>
      Button
    </button>
    <button igxButton="flat" igxRipple>
      Button
    </button>
  </igx-buttongroup>
  <igx-buttongroup alignment="vertical" class="button-group_1">
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
      <p>Button</p>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
      <p>Button</p>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
      <p>Button</p>
    </button>
  </igx-buttongroup>
  <igx-buttongroup alignment="vertical" class="button-group_1">
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
    </button>
    <button igxButton="flat" igxRipple>
      <igx-icon>
        add
      </igx-icon>
    </button>
  </igx-buttongroup>
</div>
