<div class="column-layout group">
  <igx-navbar class="navbar">
    <igx-navbar-action>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          menu
        </igx-icon>
      </button>
    </igx-navbar-action>
    <igx-navbar-title>
      Screen Title
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
    </igx-navbar-title>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        search
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        favorite
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        more_vert
      </igx-icon>
    </button>
  </igx-navbar>
  <igx-navbar class="navbar_1">
    <igx-navbar-action>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          menu
        </igx-icon>
      </button>
    </igx-navbar-action>
    <igx-navbar-title>
      Navigation Bar Issues
      <button igxButton="raised" igxRipple class="button_2">
        Button
      </button>
      <button igxButton="flat" igxRipple class="button_3">
        Button
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_3">
        Button
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_3">
        Button
      </button>
    </igx-navbar-title>
    <button igxButton="icon" igxRipple class="button_1">
      <igx-icon>
        notifications
      </igx-icon>
    </button>
    <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar"></igx-avatar>
  </igx-navbar>
  <igx-navbar class="navbar_2">
    <igx-navbar-title>
      Navigation Bar Issues
      <button igxButton="raised" igxRipple class="button_3">
        Button
      </button>
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button">
        Button
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button">
        Button
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_3">
        Button
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_3">
        Button
      </button>
    </igx-navbar-title>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        notifications
      </igx-icon>
    </button>
    <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar"></igx-avatar>
  </igx-navbar>
</div>
