:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 24px 0 0;
  min-width: 50px;
  min-height: 50px;
}
.navbar {
  height: max-content;
  min-width: min-content;
}
.navbar_1 {
  --igx-navbar-background: hsla(var(--igx-secondary-700));
  --igx-navbar-text-color: hsla(var(--igx-surface-500));
  height: max-content;
  min-width: min-content;
}
.navbar_2 {
  --igx-navbar-background: hsla(var(--igx-surface-500));
  --igx-navbar-text-color: hsla(var(--igx-grays-800));
  height: max-content;
  min-width: min-content;
}
.button {
  height: max-content;
  min-width: min-content;
}
.button_1 {
  color: hsla(var(--igx-surface-500));
}
.button_2 {
  color: hsla(var(--igx-secondary-900));
  background-color: hsla(var(--igx-surface-500));
  height: max-content;
  min-width: min-content;
}
.button_3 {
  color: hsla(var(--igx-surface-500));
  height: max-content;
  min-width: min-content;
}
.button_4 {
  color: hsla(var(--igx-grays-800));
}
.avatar {
  --background: none;
}
