<div class="column-layout container">
  <div class="row-layout group">
    <div class="row-layout group_1">
      <p class="igx-typography__subtitle-2 text">
        Default
      </p>
    </div>
    <igx-chip class="chip">
      Country
    </igx-chip>
    <igx-chip class="chip">
      <igx-prefix>
        <igx-icon class="icon">
          place
        </igx-icon>
      </igx-prefix>
      Country
    </igx-chip>
    <igx-chip class="chip">
      <igx-prefix>
        <igx-icon class="icon">
          place
        </igx-icon>
      </igx-prefix>
      <igx-suffix>
        <igx-icon class="icon">
          clear
        </igx-icon>
      </igx-suffix>
      Country
    </igx-chip>
    <igx-chip class="chip">
      <igx-suffix>
        <igx-icon class="icon">
          clear
        </igx-icon>
      </igx-suffix>
      Country
    </igx-chip>
  </div>
  <div class="row-layout group">
    <div class="row-layout group_1">
      <p class="igx-typography__subtitle-2 text">
        Disabled
      </p>
    </div>
    <igx-chip [disabled]="true" class="chip">
      Country
    </igx-chip>
    <igx-chip [disabled]="true" class="chip">
      <igx-prefix>
        <igx-icon class="icon">
          place
        </igx-icon>
      </igx-prefix>
      Country
    </igx-chip>
    <igx-chip [disabled]="true" class="chip">
      <igx-prefix>
        <igx-icon class="icon">
          place
        </igx-icon>
      </igx-prefix>
      <igx-suffix>
        <igx-icon class="icon">
          clear
        </igx-icon>
      </igx-suffix>
      Country
    </igx-chip>
    <igx-chip [disabled]="true" class="chip">
      <igx-suffix>
        <igx-icon class="icon">
          clear
        </igx-icon>
      </igx-suffix>
      Country
    </igx-chip>
  </div>
</div>
