:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: center;
  align-items: stretch;
  align-content: center;
  gap: 24px;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
}
.group_2 {
  background-color: #24272B;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 24px;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
}
.button {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.dropdown {
  left: 0;
  top: 0;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.h6 {
  color: hsla(var(--igx-surface-500));
  height: max-content;
  min-width: min-content;
}
.text {
  color: hsla(var(--igx-grays-300));
  height: max-content;
  min-width: min-content;
}
.badge {
  width: max-content;
  height: max-content;
}
