<div class="column-layout group">
  <div class="row-layout buttons">
    <button igxButton="raised" igxRipple class="button">
      Button
    </button>
    <button igxButton="raised" igxRipple class="button_1">
      <igx-icon>
        add
      </igx-icon>
      <span>Green Button</span>
    </button>
    <button igxButton="outlined" igxRipple class="button">
      Button
    </button>
    <button igxButton="outlined" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="flat" igxRipple class="button">
      Button
    </button>
    <button igxButton="flat" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="flat" igxRipple [igxToggleAction]="dropdown" class="button">
      <span>With dropdown</span>
      <igx-icon>
        keyboard_arrow_down
      </igx-icon>
    </button>
    <igx-drop-down #dropdown class="user-input">
      <igx-drop-down-item>
        Option
      </igx-drop-down-item>
    </igx-drop-down>
  </div>
  <div class="row-layout group_1">
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar icon="person" [roundShape]="true" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Title goes here</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListLine>
          <button igxButton="raised" igxRipple class="user-input">
            Button
          </button>
        </span>
        <span igxListAction>
          <igx-icon class="icon">
            star
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Title goes here...
        </h3>
        <h5 igxCardHeaderSubtitle>
          Subtitle goes here...
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout group_2">
          <button igxButton="raised" igxRipple class="user-input">
            Button in content
          </button>
          <button igxButton="outlined" igxRipple class="user-input">
            Button in content
          </button>
        </div>
      </igx-card-content>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="user-input">
          Button
        </button>
        <button igxButton="raised" igxRipple class="user-input">
          Button
        </button>
      </igx-card-actions>
    </igx-card>
    <div class="column-layout group_2">
      <button igxButton="raised" igxRipple [igxToggleAction]="customDialog" class="user-input">
        Custom dialog
      </button>
    </div>
  </div>
  <div class="row-layout group_3">
    <button igxButton="fab" igxRipple class="button_2">
      <igx-icon>
        edit
      </igx-icon>
    </button>
    <button igxButton="fab" igxRipple class="button_2">
      <span>Like</span>
      <igx-icon>
        favorite
      </igx-icon>
    </button>
  </div>
  <div class="row-layout buttons">
    <button igxButton="raised" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Green Button</span>
    </button>
    <button igxButton="raised" [disabled]="true" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>DISABLED</span>
    </button>
    <button igxButton="outlined" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="outlined" [disabled]="true" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>DISABLED</span>
    </button>
    <button igxButton="flat" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="flat" [disabled]="true" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>DISABLED</span>
    </button>
  </div>
  <div class="row-layout buttons">
    <button igxButton="raised" igxRipple class="button_3">
      <igx-icon>
        add
      </igx-icon>
      <span>Green Button</span>
    </button>
    <button igxButton="raised" [disabled]="true" igxRipple class="button_3">
      <igx-icon>
        add
      </igx-icon>
      <span>DISABLED</span>
    </button>
    <button igxButton="outlined" igxRipple class="button_4">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="outlined" [disabled]="true" igxRipple class="button_4">
      <igx-icon>
        add
      </igx-icon>
      <span>DISABLED</span>
    </button>
    <button igxButton="flat" igxRipple class="button_4">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="flat" [disabled]="true" igxRipple class="button_4">
      <igx-icon>
        add
      </igx-icon>
      <span>DISABLED</span>
    </button>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #customDialog>
  <igx-dialog-title>
    <h5>
      Confirmation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <div class="column-layout group_2">
      <button igxButton="raised" igxRipple class="user-input">
        Button in content
      </button>
      <button igxButton="outlined" igxRipple class="user-input">
        Button in content
      </button>
    </div>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple class="user-input">
      Button
    </button>
    <button igxButton="raised" igxRipple class="user-input">
      Button
    </button>
  </igx-dialog-actions>
</igx-dialog>
