<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxButton="icon" igxRipple [igxToggleAction]="navDrawer" class="button">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title>
    <p class="igx-typography__subtitle-2 text">
      🐞 BUGS IN SAMPLES 🐞
    </p>
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="1024" width="240px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/buttons">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Buttons</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/button-group">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Button Group</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/button-styles">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Button Styles</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/card-actions">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Card Action Buttons</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/cards-opacity">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Cards Opacity</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/chips">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Chips</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/dialog">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Dialogs</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/grid-in-tab-layout">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Grid in Tab Layout</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/inputs-combos">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Inputs &amp; Combos</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/list">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>List</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/navigation-bar">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>NavBar</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/space-between">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Space Between</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
