<div class="column-layout container">
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar3.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Title goes here</span>
      <span igxListLineSubTitle>Subtitle...</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar5.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Title goes here</span>
      <span igxListLineSubTitle>Subtitle...</span>
      <span igxListAction>
        <igx-icon class="icon">
          flag
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar13.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Title goes here</span>
      <span igxListLineSubTitle>Subtitle...</span>
      <span igxListAction>
        <igx-icon class="icon">
          cake
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar1.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Title goes here</span>
      <span igxListLineSubTitle>Subtitle...</span>
      <span igxListAction>
        <igx-icon class="icon">
          favorite
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
