<div class="column-layout container">
  <igx-list class="list">
    <igx-list-item [isHeader]="true">Contacts</igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar3.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Terrance Orta</span>
      <span igxListLineSubTitle>123-456-7890</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar13.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Richard Mahoney</span>
      <span igxListLineSubTitle>123-456-7890</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar1.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Donna Price</span>
      <span igxListLineSubTitle>123-456-7890</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar5.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Lisa Landers</span>
      <span igxListLineSubTitle>123-456-7890</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Dorothy H. Spencer</span>
      <span igxListLineSubTitle>123-456-7890</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          star
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
