<div class="column-layout group">
  <div class="row-layout group_1">
    <igc-rating size="small" [(ngModel)]="value" class="rating"></igc-rating>
    <igc-rating size="medium" [(ngModel)]="value" class="rating"></igc-rating>
    <igc-rating size="large" [(ngModel)]="value" class="rating"></igc-rating>
  </div>
  <div class="row-layout group_1">
    <igc-rating [(ngModel)]="value1" size="small" class="rating"></igc-rating>
    <igc-rating [(ngModel)]="value1" size="medium" class="rating"></igc-rating>
    <igc-rating [(ngModel)]="value1" size="large" class="rating"></igc-rating>
  </div>
  <div class="row-layout group_1">
    <igc-rating label="Label" [(ngModel)]="value1" max="10" size="small" class="rating"></igc-rating>
    <igc-rating label="Label" [(ngModel)]="value1" max="10" size="medium" class="rating"></igc-rating>
    <igc-rating label="Label" [(ngModel)]="value1" max="10" size="large" class="rating"></igc-rating>
  </div>
  <div class="row-layout group_1">
    <igc-rating [(ngModel)]="value1" size="small" disabled="true" class="rating"></igc-rating>
    <igc-rating [(ngModel)]="value1" size="medium" disabled="true" class="rating"></igc-rating>
    <igc-rating [(ngModel)]="value1" size="large" disabled="true" class="rating"></igc-rating>
  </div>
</div>
