<div class="column-layout group">
  <igx-navbar class="navbar">
    <igx-navbar-action>
      <button igxButton="icon" igxRipple class="button">
        <igx-icon>
          menu
        </igx-icon>
      </button>
    </igx-navbar-action>
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        search
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        favorite
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        more_vert
      </igx-icon>
    </button>
    <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar"></igx-avatar>
    <igx-navbar-title>
      I only added the avatar to this one
    </igx-navbar-title>
  </igx-navbar>
  <igx-navbar class="navbar_1">
    <igx-navbar-title>
      Rapid Fission Inc.
      <button igxButton="raised" igxRipple class="button_1">
        HOME
      </button>
      <button igxButton="flat" igxRipple class="button_2">
        MY INFO
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_2">
        PEople
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_2">
        MY FILES
      </button>
    </igx-navbar-title>
    <div class="row-layout group_1"></div>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        notifications
      </igx-icon>
    </button>
    <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar"></igx-avatar>
  </igx-navbar>
  <igx-navbar class="navbar_1">
    <igx-navbar-title>
      Rapid Fission Inc.
      <button igxButton="raised" igxRipple class="button_1">
        HOME
      </button>
      <button igxButton="flat" igxRipple class="button_2">
        MY INFO
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_2">
        PEople
      </button>
      <button igxButton="flat" [disabled]="true" igxRipple class="button_2">
        MY FILES
      </button>
    </igx-navbar-title>
    <div class="row-layout group_1"></div>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        notifications
      </igx-icon>
    </button>
  </igx-navbar>
</div>
